<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kdvideo_downloader.video_downloader">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingClass">
        <receiver
            android:name=".Connection"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
